<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>TinyApp - Registration</title>
</head>
<body>
    <%- include('partials/_header.ejs') %>

    <!-- login page, took a little liberty on styling -->

    <form action="/login" method="POST" style="display: flex; justify-content: center; padding-top: 10vh;">
        <div style="background: rgb(220, 220, 220); display: flex; display: flex; justify-content: center; flex-direction: column; align-items: center; padding: 20px; border-radius: 10px;">
            <input type="email" name="email" placeholder="email" style="width: 250px; margin: 20px;">
            <input type="password" name="password" placeholder="password" style="width: 250px; margin: 20px;">
            <button type="submit" class="btn btn-outline-success" style="width: 250px; margin: 20px;">Login</button>
        </div>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>